.information-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgba(250, 250, 250, 0.2);
    backdrop-filter: blur(5px);
}

.information-message {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.information-close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-weight: bold;
    background-color: red;
}
